<p style="text-align: center;">Fotografovacia mánia sa môže začať! So zásobou 500 lepiacich bodov môžete veselo fotiť čokoľvek a potom fotky lepiť kdekoľvek - vandalizmus ale neodporúčame. :) Vhodné sú do albumu, na kartičky a skrátka na všetky vaše dizajnové projekty.</p>
<p style="text-align: center;"><strong>Návod na použitie: </strong></p>
<p style="text-align: center;">1) Odlepte z lepiacej bodky modrú kryciu vrstvu</p>
<p style="text-align: center;">2) Bodku priložte na papier alebo fotku a pritlačte</p>
<p style="text-align: center;">3) Oddeľte podkladovú vrstvu a bodka zostane prilepená na papieri</p>
<p style="text-align: center;">4) Zvesela prilepte fotku! :)</p>
<p style="text-align: center;">Nevhodné pre deti do 3 rokov.</p>
<div class="plus-gallery-wrap">
    <div class="plus-gallery-item" style="height: 400px; width: 400px;"><a href="/user/documents/upload/gallery/4_hqdefault.jpg" title="4_hqdefault.jpg" data-gallery="lightbox[gallery-jl7h0]"><img src="/user/documents/upload/gallery/4_hqdefault_small.jpg" alt=" " data-orig-source="1" /></a></div>
    <div class="plus-gallery-item" style="height: 400px; width: 400px;"><a href="/user/documents/upload/gallery/4_hqdefault (1).jpg" title="4_hqdefault (1).jpg" data-gallery="lightbox[gallery-jl7h0]"><img src="/user/documents/upload/gallery/4_hqdefault (1)_small.jpg" alt=" " data-orig-source="1" /></a></div>
    <div class="plus-gallery-item" style="height: 400px; width: 400px;"><a href="/user/documents/upload/gallery/141_lepici-tecky-titulka-1900x1326.jpg" title="141_lepici-tecky-titulka-1900x1326.jpg" data-gallery="lightbox[gallery-jl7h0]"><img src="/user/documents/upload/gallery/141_lepici-tecky-titulka-1900x1326_small.jpg" alt=" " data-orig-source="1" /></a></div>
    <div class="plus-gallery-item" style="height: 400px; width: 400px;"><a href="/user/documents/upload/gallery/1056-2_fujifilm-instax-photo-dots-samolepy-1572444799.jpg" title="1056-2_fujifilm-instax-photo-dots-samolepy-1572444799.jpg" data-gallery="lightbox[gallery-jl7h0]"><img src="/user/documents/upload/gallery/1056-2_fujifilm-instax-photo-dots-samolepy-1572444799_small.jpg" alt=" " data-orig-source="1" /></a></div>
</div>
